@import '../styles.scss';

html {
  scroll-behavior: smooth;
}

.main {
  font-family: "freight-micro-pro", serif;
  font-weight: 300;
  background-color: $c-white;
}

h2 {
  font-size: $font-size-l;
  font-weight: 300;

  @include desktop-screen {
    font-size: $font-size-xxl;
  }
}

.dot {
  @include tablet-screen {
    display: block;
    background-color: $c-red;
    width: 6px;
    height: 7px;
    border-radius: 40%; 
  }

  &--gray {
    background-color: $c-gray-light;
  }
}
