@import "../styles.scss";

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;

  &--open {
    background-color: $c-white;
    opacity: 95%;

    .menu__link {
      color: $c-dark-gray;
    }
  }

  &--closed {
    background-color: transparent;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 10;
  }

  &__list {
    list-style-type: none;
    font-size: $font-size-md;
    padding: 15px;

    &--open {
      display: flex;
      flex-direction: column;
    }

    &--closed {
      display: none;
    }
  }

  &__listItem {
    padding: 10px;
  }

  &__link {
    padding: 10px;
    color: $c-white;
    text-decoration: none;
  }

  @include xl-screen {
    position: static;
    background-color: transparent;
    
    &__button {
      display: none;
    }

    &__listItem {
      padding: 0;
    }

    &__list {
      display: flex;
      opacity: 100%;
      flex-direction: row;
      gap: 15px;
    }

    &--closed,
    &--open {
      .menu__link {
        color: $c-white;
      }
    }

  }

  @include xxl-screen {
    &__list {
      gap: 50px;
    }
  }
}
