@import '../styles.scss';

.offices {
  padding: 30px;
  max-width: 800px;
  margin: auto;

  &__heading {
    padding: 50px 0;
  }

  &__dot {
    margin-left: 128px;
    margin-bottom: -10px;

    @include desktop-screen {
      margin-left: 225px;
      margin-bottom: -15px;
    }

    &--polish {
      position: relative;
      margin-left: 0;
      margin-bottom: 0;
      bottom: -19px;
      left: 135px;
      width: 5px !important;
      height: 6px !important;

      @include desktop-screen {
        bottom: -33px;
        left: 237px;
        width: 7px !important;
        height: 8px !important;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 50px;
    line-height: 2;
    

    @include desktop-screen {
      font-size: $font-size-md;
    }
  }

  &__us {
    text-align: end;
  }
}

.divider {
  display: none;

  @include tablet-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
